
<audio id="alertSound" src="alarm.mp3" preload="auto"></audio> 
  
<section>
  <div class="container">
    <div class="countdownHeading">SET THE TIMER THAT YOU WANT TO COUNTDOWN!</div>
    <div class="form-countdown">
      <div class="form-group row">
        <label for="day" class="col-sm-2 col-form-label">Day:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="dayTime" id="day" class="form-control" style="background-color: #edf5e1;">
        </div>
      </div>
      <div class="form-group row">
        <label for="hour" class="col-sm-2 col-form-label">Hour:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="hourTime" id="hour" class="form-control" style="background-color: #edf5e1;">
        </div>
      </div>
      <div class="form-group row">
        <label for="minute" class="col-sm-2 col-form-label">Minute:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="minuteTime" id="minute" class="form-control" style="background-color: #edf5e1;">
        </div>
      </div>
      <div class="form-group row">
        <label for="second" class="col-sm-2 col-form-label">Second:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="secondTime" id="second" class="form-control" style="background-color: #edf5e1;">
        </div>
      </div>
      <div class="col-sm-12">
        <button type="button" (click)="createCountdown()" class="btn btn-primary">COUNT</button>
      </div>
    </div>

    <div class="countdownInfo">day : hour : minute : second</div>
    <div class="countdown" id="pageCountdown">{{ pageCountdown }}</div>
  </div>
</section>
